/* обнуление */
*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}
a {
   text-decoration: none;
}
ul,
ol,
li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5, 
h6 {
   font-weight: inherit;
   font-size: inherit ;
}
html,
body {
   height: 100%;
   line-height: 1;
   background: #F5F5F5;

}
.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   position: relative;
}
.main {
   padding-bottom: 30px;
   flex: 1 1 auto;
}
.header {
   width: 100%;
   height: 35px;
   margin: 5px;
   display: flex;
   justify-content: space-around;
   
}
.header_links {
   display: flex;
   gap: 4px;
   justify-content: center;
   margin: 15px;
}
.header_links a {
   text-decoration: none;
   font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 20px;
font-family: 'Inter', sans-serif;
color: #222222;
margin-left: 4px;}
.header_links a:hover {
   text-decoration: underline 6px #E7DED8;
}
.footer {
   background:#E7DED8;
   padding: 30px;
   width: 100%;
   height: 80px;
   text-align: center;
   bottom: 0;
   left: 0;
   position: relative;
   display: flex;
}
#logo {
   max-width: 100%;
   justify-content: flex-start;
   display: flex;
   float: left;
}
.fooher_icons  {
   display: flex;
   justify-content: space-around;
   gap: 6px;
   float: right;
   align-items: right;
   margin-left: 75%;}
   .container_content {
      width: 1407px;
      height: 450px;
   }
  
   .banner {
      max-width: 1470px;
      height: 555px;
      display: flex;
      gap: 0px;
   }
   .banner_title {
      width: 510px;
      height: 126px;
      margin: 30px;
   }
   .banner_content {
      width: 720px;
      height: 530px;
      background-image: url("/img/backgroundright.PNG");
   }
   .banner_content h1 {
font-style: normal;
font-family: 'Style Script,cursive';
font-weight: 400;
font-size: 175px;
line-height: 182px;
text-align: left;
color: #68513F;
margin-top: 250px;
transform: rotate(5.54deg); }
   .banner_title h1 {
font-family: 'Song Myung', serif; 
font-style: normal;
font-weight: 300;
font-size: 35px;
line-height: 126px;
color: #000000;
   }
   #square {
text-align: center;
background: #F1EBE7;
border: 1px solid #DACEC6; 
width:  145px;
height:  43px;
font-size: 14px;
color: #68513F;
font-family: 'Inter', sans-serif;
   }
   #square:hover {
      cursor: pointer;
      transition: background-color  #68513F 0.5s ease;
      transform: scale(1.2);
   }
   .scincare_block {
      width: 100%;
      height: 550px;
   }
   .scincare_title {
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
   }

   #subtitle {
 font-family: 'Song Myung', serif;     
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 98px;
text-align: center;
color: #000000;
   }
   #italic {
font-family: 'Style Script,cursive';
font-style: normal;
font-weight: 400;
font-size: 137px;
line-height: 112px;
text-align: center;
color: #68513F;
transform: rotate(-5.08deg);
   }
   .scincare_title p {
 margin-top: 15px;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
text-align: center;
color: #000000;
   }
   #rounded {
font-family: 'Inter', sans-serif;     
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
text-align: center;      
color: #68513F;     
height: 45px;
width: 95px;
background: #F1EBE7;
border: 1px solid #DACEC6;
border-radius: 73px;
   }
   #rounded:hover {
      cursor: pointer;
      transition: background-color  #68513F 0.5s ease;
      transform: scale(1.2);
   }
   .scincare_pictures {
      display: flex;
      justify-content: space-around;
   }
   .scincare_pictures img {
      max-width: 100%;
      border: 1px solid #DACEC6;
      border-radius: 10px; 
   }
   .banner_photo {
      width: 1340px;
      height: 500px;
      margin-left: 0;
      margin-right: 0;
      display: block;
      background-image: url("/img/backgroundpicture.PNG");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin-top: 35px;
   }
   .products {
      width: 100%;
      height: 720px;
      margin-top: 15px;
   }
   .products_title{
      display: block;
      margin-left: auto;
      margin-right: auto;
   }
   .products_cards {
      display: flex;
      justify-content: space-around;
   }
   .card {
 width: 200px;
height: 400px;
background: #E7DED8;
border-radius: 10px;

   }
   .card img {
      max-width: 100%;
   }
   .card p {
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
/* identical to box height, or 151% */
text-transform: uppercase;
color: #000000;
float: left;
   }
   .feature_picture img  {
      max-width: 100%;
   }
   .blog_content_conteiner {
      display: flex;
      justify-content: space-between;
   }

   /* mobile layout */
   @media (max-width: 31.25rem) {
   .fooher_icons {
      gap: 3px;
      margin-left: 60%;
   }
   .blog_content_conteiner {
      display: block;
   }
   .feature_picture img {
      width: 50%;
      height: 50%;
   }
   .products_cards {
      height: 250px;
      
   }
   .card img {
      width: 30%;
      height: 20%;
   }
   .card p {
      font-size: 10px;
      float: none;
   }
   .banner_content {
      max-zoom: 50%;
      background-position: left;
      background-size: cover;

   }
   .banner_photo {
      width: 100vw;
      background-size: auto;
   }
   #subtitle {
font-size: 18px;
   }
   #italic {
      font-size: 35px;
      
   }
   #rounded {
      margin-top: 10px;
   }
   #square {
      width: 140px;
      height: 40px;
   } 
  
   .banner_content h1 {
      font-size: 30px;
      margin-top: 100px;
   }
   .header_links a {
      gap: 2px;
      font-size: 14px;
   }
   .banner {
      width: 100vw;
      height: 520px;
   }
   .banner_title h1 {
      font-size: 16px;
      font-style: italic;
      padding: 0;
   }
   .banner_title {
      margin: 10px;
   }
   #rounded {
      font-size: 12px;
   }
   .scincare_pictures {
      justify-content: space-between;
   }
 .scincare_pictures img { 
   width: 25%;
   height: 25%;
   }
   .products_cards {
      justify-content: space-between;
      gap: 1px;
      height: 250px;
   }
}


